<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  </head>

<body>
<a href="/budget/">Strona główna</a>
<h1>Wydatki</h1>
<form action="/budget/plot_expenses/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Wykres">
</form>
</body>

</html>
